/* здесь используйте глобальные переменные */

//Colours

$basic-white: #ffffff;

$basic-black: #000000;

$bg-basic-green: #68b738;

$bg-green-active: #5eaa2f;

$bg-basic-grey: #f2f2f2;

$bg-special-grey: #444444;

$basic-text-color: #222222;

$text-grey: #111111;

$live-example-color: #eaeaea;


// Fonts
$primary-font: "Lato", "arial", sans-serif;
$secondary-font: "Oswald", "arial", sans-serif;


// Adaptive width
$tablet-width: 768px;
$desktop-width: 1440px;
