.button {
  width: 280px;
  height: 40px;
  padding: 10px 0;
  background-color: $bg-basic-green;
}

/*
.button--big {

}

.button--primary {
  padding: 10px 44px 10px 44px;
}


button--secondary {
  height: 56px;
  padding: 14px 26px 14px 26px;
}

*/
