/* .contacts {

}  */

.contacts__title {
  width: 140px;
  height: 60px;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #111111;
}

.contacts__text {
  width: 140px;
  height: 60px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #444444;
}

.contacts__map {
  width: 320px;
  height: 362px;
}
