.copyright {
  width: 280px;
  height: 34px;
  display: flex;
  justify: space-between;
  padding: 20px 20px 40px;
}

.copyright__text {
  width: 113px;
  height: 20px;
}

.copyright__link {
  width: 27px;
  height: 34px;
}
