/* .main-footer {

}

.main-footer__wrapper {

} */

.main-footer__contacts {
  padding: 26px 20px;
}

.main-footer__logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
}

/*
.main-footer__social {

}

.main-footer__copyright {

} */
