.slider-container {
  width: 280px;
  height: 256px;
  gap: 12px;
}

.slider-container__button {
  position: relative;
  display: block;
  top: 0;
  left: 2px;
  padding: 0;
  height: 100%;
  width: 4px;
  border-radius: 2px;
  border: none;
  background-color: #666666;
  cursor: pointer;
  box-sizing: border-box;
}

.slider-container__button::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate (-50% -50%);
}

.slider-container__button::after {
  content: "";
  background-color: #666666;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50% -50%);
  mask-image: url("../../icons/stack.svg#slider");
  mask-position: 50%;
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
}

/*
.slider-container__view {

}

.slider-container__view--view-before {

}

.slider-container__view--view-after {

}

.slider-container__image {

} */
