/* .social {

}

.social__title {

} */

.social__list {
  width: 132px;
  height: 22px;
  gap: 24px;
  margin: 0 auto;
}

/*
.social__item {

}

.social__link {

}

.social__link--vkontakte {

}

.social__link--youtube {

}

.social__link--telegram {

}  */
